.container-infomation-page{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative !important;
}

.block-main{
    margin-bottom: 20px;
    border-radius: 10px;
}

.block-1{
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.block{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.col-item-1{
    display: flex;
    gap: 20px;
    align-items: center;
}

.avatarProfile{
    height: 80px;
    width: 80px;

}

.avatarA{
    width: 100%;
    height: 100%;
    background-size: contain;
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.btnAddNewPost{
    
}

.btn-add-new-post{
    padding: 10px 20px;
    background-color: #ff7f00;
    color: white;
    border-radius: 10px;
    height: 20px;
    cursor: pointer;
}

.block{
    height: 500px;
    width: 100%;
    background-color: white;
    padding: 10px;

}

.block-2{
    height: 680px;
    width: 100%;
    background-color: white;
}

.block-area-2{
    padding: 20px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.block-3{
    height: calc(100vh - 50px);
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    overflow: hidden !important;
    background-color: rgba(0, 0, 0, 0.5); 
}

.recipeList-info{
    display: flex;
}

.card{
    margin-left: 20px;
    height: 350px;
    width: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px;
}

.image-card{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

.image-card img{
    height: 100%;
    width: 100%;
    flex: 1;
    object-fit: cover;
    border-radius: 10px;
}

.button-delete-image{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    cursor: pointer;
    margin-left: 405px;
    margin-top: 10px;
    /* margin-bottom: -50px; */
}

.thumbnail-image{
   
    width: 100%;
    min-width: 100%;
}

.thumbnail-area{
    position: relative !important;
}

.name-card{
    font-size: 20px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0;
}
.description-card {
    display: -webkit-box;          
    -webkit-line-clamp: 3;        
    -webkit-box-orient: vertical;  
    overflow: hidden;             
    text-overflow: ellipsis;     
    width: 100%;  
    min-height: 63px;
    /* height: 85px;               */
  }
  

  .button-card{
    display: flex;
    gap: 10px;
    margin-top: 5px;
  }

  .btnDeleteCard{
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    height: 40px;
    border-radius: 10px;
  }

  .btnUpdateCard{
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    height: 40px;
    border-radius: 10px;

  }

  .ql-container{
    max-height: 650px;
    overflow: hidden;
  }

  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: 550px;
  }

  .delete-area{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 99;
  }

  .dialog-delete{
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
  }

  .title-dialog-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .des-dialog-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .button-dialog-delete{
    display: flex;
    justify-content: space-between;
  }

  .button-dialog-delete .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 62px;
    height: 50px;
    color: white;
    cursor: pointer;
    /* border-radius: 5px; */
  }

  .button-dialog-delete .buttonCancel{
    background-color: rgb(121, 121, 121);
    border-bottom-left-radius: 5px;
  }

  .button-dialog-delete .butonDelete{
    background-color: red;
    border-bottom-right-radius: 5px;
  }

  .button-dialog-delete .btn:hover{
    opacity: 0.7;
  }

  .chip{
    background-color: #ff7f00 !important;
  }
  
  .option{
    background-color: #ff7f00 !important;
    color: white !important;
  }

  .text-area{
    max-height: 300px;
    min-height: 200px;
    resize: none;
  }
